/*reset*/

body, h1, h2, h3, p, ul {
    padding: 0;
    margin: 0;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #252525;
}

/* menu */

.menu {
    background: #252525;
    padding: 20px 0;
}

.menu_container {
    max-width: 960px;
    margin: 0 auto;
}

.menu_container::after, .menu_container::before {
    content: "";
    display: table;
    clear: both;
}

.menu_logo {
    display: block;
    float: left;
    margin-left: 10px;
}

.menu_nav {
    float: right;
}

.menu_nav li{
    display: inline-block;
}

.menu_nav a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #fff;
    font-style: 1.125em;
}